body
{
    text-align: center;
}
#head
{
    margin-top :100px;
    font-size:70px;
    color:green;
}
div{
    font-size:90px;
    font-weight:bold;
    margin-bottom:30px;
}
button
{
    
    height:40px;
    font-size:30px;
   border-radius: 10px;
   margin-left:20px;
    font-weight:bold;
}
button:hover
{
    font-size:33px;
    background-color: rgb(207, 204, 204);
    height:40px;
}


